body {
  background-color: #161616be;
  overflow: hidden;
}

.header-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  height: 20px;
  margin-top: -6px;
  margin-left: -7px;
  margin-right: -7px;
  padding-top: 2px;
  -webkit-app-region: drag;
}

.service-button-host {
  grid-column: 2;
  display: flex;
  margin-top: -2px;
}

.service-button {
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1px;
  margin: 3px;
  width: 14px;
  height: 14px;
  text-align: center;
  font-size: smaller;
}

.service-button:hover {
  color: #5dade2;
  background-color: #000000;
}

.ontop-button {
  grid-column: 3;
  justify-self: flex-end;
  margin-right: 4px;
  color: #ffffff44;
}

.ontop-button:hover {
  color: #d6d6d6;
}

.ontop-locked:before {
  content: '\f023';
}

.ontop-unlocked:before {
  content: '\f3c1';
}

.color-0 {
  color: #5dade2;
  background-color: #5dade2;
}

.color-1 {
  color: #FAFBFA;
  background-color: #E5001D;
}

.color-2 {
  color: #FAFBFA;
  background-color: #20E788;
}

.color-3 {
  color: #FAFBFA;
  background-color: #00A9DF;
}

.color-4 {
  color: #FF0012;
  background-color: #FAFBFA;
}

.color-5 {
  color: #FAFBFA;
  background-color: #1A3676;
}
