:root {
  --color-white: #d4d4d4;
  --color-black: #2A2A2C;
  --color-fg: var(--color-white);
  --color-bg: var(--color-black);
  --color-bg-trans: #00000065;
  --color-trans: #00000000;
  --color-neutral: #808080;
  --color-neutral-light: #c7c7c7b2;
  --color-thumb: #808080;
  --color-link: #1410ff;
  --color-warning: #c43410;
  --color-hightlight: #0095f7;
  --color-hightlight-trans: #0094f779;
  --color-system-accent: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--color-white);
    --color-bg: var(--color-black);
    --color-bg-trans: #00000081;
    --color-neutral-light: #ffffff23;
  }
  .logo::after {
    content: url('res/logo/sd_logo_white.png');
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-fg: var(--color-black);
    --color-bg: var(--color-white);
    --color-bg-trans: #dfdfdf65;
    --color-neutral-light: #c7c7c7b2;
  }
  .logo::after {
    content: url('res/logo/sd_logo_black.png');
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px var(--color-bg), 0 0 0 1px var(--color-system-accent);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--color-system-accent);
  border-color: var(--color-system-accent);
}

body {
  overflow: hidden;
  background-color: var(--color-bg-trans);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-thumb);
}

.logo {
  position: absolute;
  right: 16px;
  bottom: 5px;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

.home-screen {
  display: grid;
  grid-template-rows: 1fr minmax(0, 1fr);
  height: calc(100vh - 33px);
  user-select: none;
}

.bookmark-host {
  grid-row: 1;
  overflow-y: hidden;
  color: var(--color-fg);
}

.bookmark-stream-host {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(100% - 10px);
  height: calc(100% - 45px);
  overflow-y: auto;
}

.search-host-title,
.bookmark-host-title {
  margin-top: 4px;
  margin-left: 15px;
  margin-bottom: -5px;
}

.bookmark-tile {
  position: relative;
  margin: 5px;
  width: 200px;
  font-size: .80em;
}

.bookmark-image {
  width: 100%;
  border-radius: 5px;
}

.bookmark-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  transition: opacity .2s;
  color: var(--color-white);
}

.bookmark-delete-btn:hover {
  color: var(--color-warning);
}

.bookmark-play-btn {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 8px);
  opacity: 0;
  transition: opacity .2s;
  color: var(--color-black);
}

.bookmark-play-btn:hover {
  color: var(--color-white);
}

.bookmark-play-btn-bg {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 19px);
  opacity: 0;
  transition: opacity .2s;
  color: var(--color-neutral);
}

.bookmark-url-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0;
  color: var(--color-white);
}

.bookmark-url-btn:hover {
  color: var(--color-hightlight);
}

.bookmark-title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 4px;
  color: var(--color-fg);
  background-color: var(--color-bg);
  opacity: 0;
  transition: opacity .2s;
  user-select: none;
}

.bookmark-tile:hover > .bookmark-url-btn,
.bookmark-tile:hover > .bookmark-delete-btn,
.bookmark-tile:hover > .bookmark-title,
.bookmark-tile:hover > .bookmark-play-btn,
.bookmark-tile:hover > .bookmark-play-btn-bg {
  opacity: 1;
}

.bookmark-delete-btn:active,
.bookmark-url-btn:active {
  color: var(--color-neutral);
}

.facet-host {
  position: absolute;
  right: 0px;
  top: 22px;
  height: calc(100% - 25px);
  width: 240px;
  padding: 5px;
  color: var(--color-fg);
  overflow-y: hidden;
}

.facet-filter-host {
  position: relative;
}

.facet-filter {
  height: 22px;
  margin-bottom: 3px;
  margin-top: -8px;
  padding: 2px;
  padding-right: 30px;
  color: var(--color-fg);
  background-color: var(--color-bg-trans);
  border-color: var(--color-bg-trans);
  border-radius: 3px;
}

.facet-filter:focus {
  color: var(--color-fg);
  background-color: var(--color-bg-trans);
  border-color: var(--color-bg-trans);
  box-shadow: 0 0 0 1px var(--color-bg-trans), 0 0 0 1px var(--color-system-accent);
}

.filter-all {
  position: absolute;
  cursor: pointer;
  color: var(--color-neutral);
  transition: color .2s;
  right: 3px;
  top: 6px;
}

.toggled {
  color: var(--color-fg);
}

.search-clear,
.filter-clear {
  position: absolute;
  cursor: pointer;
  color: var(--color-neutral);
  transition: color .2s;
  right: 18px;
  top: 3px;
}

.nf-facet-host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 60px);
}

.nf-facet {
  color: var(--color-fg);
  cursor: pointer;
  padding: 2px;
  margin-right: 3px;
}

.nf-facet:hover {
  color: var(--color-white);
  border-radius: 3px;
  background-color: var(--color-system-accent);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
}

.header-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  height: 20px;
  padding-top: 2px;
  -webkit-app-region: drag;
}

.service-btn-host {
  grid-column: 2;
  display: flex;
  margin-top: -2px;
  transition: opacity .2s;
  -webkit-app-region: no-drag;
}

.service-btn-host:hover {
  opacity: 1;
}

.service-btn {
  border-radius: 3px;
  margin: 3px;
  font-family: 'Gill Sans', Calibri, sans-serif;
  padding: 1px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  user-select: none;
  transition: color .2s, background-color .2s;
  cursor: pointer;
  text-align: center;
}

.control-btn-host {
  grid-column: 3;
  display: flex;
  justify-self: flex-end;
  margin-right: 6px;
  margin-top: 1px;
  transition: opacity .2s;
  -webkit-app-region: no-drag;
}

.control-btn-host:hover {
  opacity: 1;
}

.bookmarks-btn-add {
  animation-name: bm-added;
  animation-duration: 1s;
}

@keyframes bm-added {
  10% { color: var(--color-hightlight); }
  30% { color: var(--color-white); }
  50% { color: var(--color-hightlight); }
  70% { color: var(--color-white); }
  90% { color: var(--color-hightlight); }
}

.control-btn {
  padding-left: 8px;
  color: var(--color-neutral);
  transition: color .2s;
  cursor: pointer;
}

.nav-hide {
  opacity: 0;
}

.search-clear:hover,
.filter-clear:hover,
.filter-all:hover,
.control-btn:hover {
  color: var(--color-fg);
}

.filter-clear:active,
.filter-all:active,
.control-btn:active {
  color: var(--color-system-accent);
}

.ontop-locked:before {
  content: '\f023';
}

.ontop-unlocked:before {
  content: '\f3c1';
}

.modal-backdrop {
  background-color: var(--color-bg-trans);
}

.modal-header {
  padding-bottom: 5px;
  border-bottom: none;
}

.modal-body {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: auto;
}

.modal-content {
  border-color: var(--color-bg-trans);
  background-color: var(--color-bg-trans);
  color: var(--color-fg);
  max-height: calc(100vh - 80px);
  user-select: none;
  border-radius: 10px;
}

.modal-footer {
  border-top: unset;
}

.modal-close-btn:hover,
.modal-close-btn {
  color: var(--color-fg);
}

.modal-close-btn:active,
.modal-close-btn:focus {
  border: none;
  outline: none;
}

.collapsible {
  width: 100%;
  border: none;
}

.panel {
  border-width: 1px;
  border-color: var(--color-fg);
  padding: 2px;
}

.panel-header>a {
  height: 30px;
  cursor: pointer;
}

.panel-header>a:hover,
.panel-header:hover {
  color: var(--color-hightlight);
}

.panel-header .fa {
  transition: 0.3s transform ease-in-out;
}

.panel-header .collapsed .fa {
  transform: rotate(-90deg);
}

.panel-header>a {
  color: var(--color-fg);
}

.settings-group {
  font-size: 14px;
  margin-top: 5px;
}

.settings-shift {
  margin-left: 20px;
  margin-top: -1px;
}

.helper-text {
  margin-top: -6px;
}

.form-group {
  margin-bottom: 5px;
}

.text-search-api-key,
.text-agent,
.text-glyph,
.text-url {
  color: var(--color-fg);
  background: var(--color-bg);
  border: var(--color-bg) solid 1px;
}

.text-glyph {
  max-width: 29px;
  margin-left: 3px;
  border-radius: .25rem !important;
}

.settings-agents,
.settings-services-host {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-top: 5px;
}

.service-host {
  display: grid;
  grid-template-columns: 10px 25px 1fr .8fr 10px;
  grid-template-rows: 10px repeat(4, 30px) 12px;
  align-items: center;
  border: none;
  border-radius: 8px;
}

.service-host:hover {
  background-color: var(--color-neutral-light);
  border-color: var(--color-neutral-light);
}

.serv-url {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 5;
}

.service-host>img {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column: 3;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.serv-check-host {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column: 2;
  padding: 0;
  margin: 100%;
  margin-left: 0px;
  margin-right: 5px;
  padding: 0;
}

.serv-check-label {
  width: 0px;
}

.serv-check-label::before,
.serv-check-label::after {
  left: 0px;
}

.serv-glyph-pick {
  grid-row: 2;
  grid-column: 4;
  color: var(--color-fg);
}

.serv-color-pick {
  grid-row: 3;
}

.serv-bg-pick {
  grid-row: 4;
}

.serv-color-pick,
.serv-bg-pick {
  grid-column: 4;
  color: var(--color-fg);
  margin-bottom: 5px;
}

.label-text {
  color: var(--color-fg);
  font-family: Calibri, sans-serif;
  font-weight: 400;
  align-self: center;
  margin: 0;
  margin-top: 1px;
}

.search-api-key,
.agent-string {
  margin-top: 4px;
  margin-bottom: 3px;
}

.group-title {
  margin-bottom: 3px;
}

input[type=color] {
  border: none;
  padding: 0;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.search-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-host {
  grid-row: 2;
  color: var(--color-fg);
  display: grid;
  grid-template-rows: 50px 1fr;
}

.search-input-host {
  grid-column: 2;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 6px;
  position: relative;
  width: calc(100% - 10px);
  max-width: 500px;
}

.text-search {
  height: 42px;
  padding: 2px;
  padding-right: 32px;
  padding-left: 10px;
  color: var(--color-fg);
  background-color: var(--color-bg-trans);
  border-color: var(--color-bg-trans);
  border-radius: 3px;
  font-size: x-large;
}

.text-search:focus {
  color: var(--color-fg);
  background-color: var(--color-bg-trans);
  border-color: var(--color-bg-trans);
  box-shadow: 0 0 0 1px var(--color-bg-trans), 0 0 0 1px var(--color-system-accent);
}

#search-result-host {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  margin-left: 8px;
  margin-top: 8px;
  margin-right: 5px;
}

.search-clear {
  margin-top: 11px;
  right: 11px;
}

.result-tile {
  width: 150px;
  height: 225px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  font-size: small;
}

.result-tile:hover {
  background-color: var(--color-hightlight-trans);
}

.result-title {
  font-weight: 700;
  font-size: large;
  line-height: 1.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.result-genres {
  font-style: italic;
}

.result-providers {
  margin-top: 3px;
}

.result-year {
  font-size: large;
  line-height: 1.2em;
}

.result-details {
  position: absolute;
  padding: 3px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.result-image-host {
  opacity: 1;
  transition: opacity 0.5s;
}

.result-tile:hover > .result-image-host {
  opacity: 0;
  transition: opacity 0.5s;
}

.result-tile:hover .result-image {
  width: 0%;
  transition: width 0.0s;
  transition-delay: 0.5s;
}

.result-image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: width 0.0s;
  transition-delay: 0.0s;
}

.search-title {
  margin-bottom: -10px;
}

img {
  display: none;
}

img[src] {
 display: block;
}

.result-provider-host {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.provider-image {
  width: 34px;
  height: 34px;
  border-radius: 3px;
  margin: 1px;
}

.text-box {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}

.modal-content-solid {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

#result-detail-header {
  line-height: 1.3;
}

#result-detail-title {
  font-weight: 700;
  font-size: xx-large;
  text-overflow: ellipsis;
}

#result-detail-year {
  font-weight: 500;
  font-size: xx-large;
}

#result-detail-host {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#result-detail-image {
  grid-column: 1;
  max-width: 100%;
  max-height: auto;
}

#result-detail-body {
  grid-column: 2;
  margin: 0px 5px;
  padding: 3px;
}

#result-detail-tagline {
  font-style: italic;
}

#result-detail-attr {
  font-weight: 200;
  font-size: .9em;
}

#result-detail-media {

}

#result-detail-genres {

}

#result-detail-runtime {
  
}

.result-detail-header {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 5px;
}

#result-detail-overview {
  font-weight: 300;
}

#result-detail-cast {
  font-weight: 300; 
}