body {
  background-color: #161616be;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #00000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #ffffff44;
  border-radius: 10px;
}

.logo {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
}

.header-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  height: 20px;
  padding-top: 2px;
  -webkit-app-region: drag;
}

.service-button-host {
  grid-column: 2;
  display: flex;
  margin-top: -2px;
  opacity: 0;
  transition: opacity .2s;
  -webkit-app-region: no-drag;
}

.service-button-host:hover {
  opacity: 1;
}

.service-button-color {
  border-radius: 3px;
  margin: 3px;
}

.service-button {
  border-radius: 3px;
  font-family: 'Gill Sans', Calibri, sans-serif;
  padding: 1px;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  user-select: none;
  transition: color .2s, background-color .2s;
  cursor: pointer;
}

.service-button:hover {
  color: #5dade2;
  background-color: #000000;
}

.ontop-button {
  grid-column: 3;
  justify-self: flex-end;
  margin-right: 4px;
  margin-top: 1px;
  color: #ffffff00;
  display: none;
  transition: color .2s;
  cursor: pointer;
}

.ontop-button:hover {
  color: #d6d6d6;
}

.ontop-locked:before {
  content: '\f023';
}

.ontop-unlocked:before {
  content: '\f3c1';
}

.modal-header {
  border-bottom: 1px solid #000000;
}

.modal-body{
  overflow-y: auto;
}

.modal-content {
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
  max-height: calc(100vh - 80px);
}

.modal-footer {
  border-top: unset;
}

.modal-close-button:hover,
.modal-close-button {
  color: #ffffff;
}

.modal-close-button:active,
.modal-close-button:focus {
  border: none;
  outline: none;
}

.collapsible {
  width: 100%;
  background-color: #00000000;
  border: none;
}

.panel {
  border-width: 1px;
  border-color: #444444;
  padding: 2px;
}

.panel-header>a {
  height: 30px;
  cursor: pointer;
}

.panel-header>a:hover,
.panel-header:hover {
  color: #0095f7;
}

.panel-header .fa {
  transition: 0.3s transform ease-in-out;
}

.panel-header .collapsed .fa {
  transform: rotate(-90deg);
}

.panel-header>a {
  color: #ffffff;
}

.settings-group {
  font-size: 14px;
  margin-top: 5px;
}

.helper-text {
  margin-top: -6px;
}

.form-group {
  margin-bottom: 5px;
}

.service-host {
  margin-left: -1.25rem;
  margin-top: 15px;
}

.service-check {
  margin-right: 5px;
}

.text-url {
  color: #ffffff;
  background-color: #000000;
  border: #696969 solid 1px;
  margin-top: 10px;
}

.settings-services-host {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}